@import url('https://fonts.googleapis.com/css?family=Orbitron:bold');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #000;
  font-size: 16px;
  color: white;
  /* #090909, #0d0d0d */
  /* overflow-x: hidden; */
}

.navbar {
  position: fixed;
  font-size: 18px;
  background-color: rgb(24, 24, 24);
  padding-bottom: 10px;
  height: 50px;
  width: 100%;
  transition: height 200ms;
  font-family: "Arial", Serif;
  z-index: 1;
}

.nav__list {
  list-style-type: none;
  display: none;
}

.nav__list--active {
  display: block;
}

.navbar--active {
  height: 425px;
  max-height: 600px;
  overflow: hidden;
}

.nav__nav-item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

.nav__nav-item:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__nav-item:focus {
  outline: thin dotted;
}

.nav__list-item {
  text-align: center;
  margin: 15px auto;
  padding: 10px;
}

.nav__button--call-to-action,
.header__button--call-to-action {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #222;
  font-weight: bold;
  background: #ffc300;
  background: linear-gradient(90deg, #ffc300 0%, #ff5733 70%, #ffc300 100%);
  background-size: 200% 1px;
  transition: background-position 100ms ease-in;
}

.header__button--call-to-action {
  margin: 5vh auto;
  /* justify-self: flex-end; */
  display: block;
  width: 300px;
}

.nav__button--call-to-action:hover,
.header__button--call-to-action:hover {
  background-position: 125%;
}

.nav__button--call-to-action:active,
.header__button--call-to-action:active {
  box-shadow: inset 2px 2px 10px #333;
}

.menu-button {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  color: rgba(255 ,255 ,255 , 0.8);
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  padding: 8px 8px;
  text-transform: uppercase;
}

.menu-button:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

.menu-button__text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.menu-button__icon {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  position: relative;
  top: 0px;
}

.menu-button__line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transition: transform 0.1s ease-in-out, opacity 0.2s, ease-in-out;
}

.menu-button__line-1 {
  transform-origin: 1em 2.5em;
}

.menu-button__line-3 {
  transform-origin: 1em 4.5em;
}

.menu-button__line-1--open {
  transform: rotate(45deg) translateY(0) translateX(0);
}

.menu-button__line-2--open {
  opacity: 0;
}

.menu-button__line-3--open {
  transform: rotate(-45deg) translateY(0) translateX(0);
}

.header {
  margin-top: 0;
  background: 
    radial-gradient(rgba(0,0,0, 0), rgba(0, 0, 0, 1)),
    linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
    no-repeat center/cover fixed url("../images/Q2bpBSFCc9U.jpg");
  color: #f4f4f4;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 .2rem 2rem black;
  font-family: "Arial", Serif;
}

.header__container {
  height: 70%;
  min-height: 100vh;
  overflow: hidden;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__container-text {
  margin-top: 20vh;
}

.header__heading {
  font-family: "Orbitron", "Ariel", Serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header__logo {
  width: 100px;
  display: block;
  margin-top: 10vh;
  filter: drop-shadow(0 0 1rem black);
}

.container {
  background: linear-gradient(rgba(9, 9, 9, .1) 0%, rgb(59, 59, 59) 100%);
  line-height: 32px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5 {
  font-family: Tahoma, sans-serif;
}

.main-content__container,
.content__container--where,
.content__container--missions,
.content__container--challenge,
.organizer-container,
.register-content {
  width: 90%;
  margin: auto;
  text-align: left;
}

.content__heading {
  font-size: 32px;
  text-align: center;
}

.content__hr,
.content__hr--green,
.content__hr--orange {
  width: 200px;
  height: 3px;
  border: none;
  background: linear-gradient(90deg, rgb(0, 65, 119, .7) 0%, rgb(6, 181, 224) 50%, rgb(0, 65, 119, .7) 100%);
  margin: 45px auto;
}

.content__hr--green {
  background: linear-gradient(90deg, rgba(0, 87, 61, 0.7) 0%, rgb(0, 216, 126) 50%, rgb(0, 87, 61, 0.7) 100%);
}

.content__hr--orange {
  background: linear-gradient(90deg, rgba(255, 87, 51, 0.7) 0%, rgba(255, 195, 0, 0.7) 50%, rgba(255, 87, 51, 0.7) 100%)
}

.white-content__container,
.black-content__container,
.gray-content__container {
  padding: 75px 0;
}

.white-content__container {
  background: #f4f4f4;
  color: #222;
}

.black-content__container {
  background: #222;
  color: #eee;
}

.gray-content__container {
  background: #444;
  color: #f4f4f4;
}

.card--price,
.card--map {
  background: #eee;
  margin: 75px auto 0 auto;
  border: 1px solid black;
  display: block;
  box-shadow: 2px 10px 30px #ccc;
}

/* 
card for dark background
box-shadow: 2px 10px 30px #111;
*/

.card--price {
  width: 300px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
}

.card--price span {
  font-size: 54px;
  display: inline-block;
  margin: 10px 0 20px -24px;
}

.card--price hr {
  width: 150px;
  height: 3px;
  background: linear-gradient(90deg, #ffc300 0%, #ff5733 100%);
  border: none;
  margin: 15px auto;
}

.card--price ul {
  list-style-type: none;
  text-align: left;
  width: fit-content;
  margin-block-end: auto;
  padding-top: 15px;
  font-size: 18px;
  line-height: 28px;
}

.card--price ul li::before {
  content: "- ";
}

.card__button--call-to-action {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  width: 200px;
  padding: 10px 15px;
  margin: 10px auto;
  color: #222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  background: transparent;
  transition: color 300ms ease-out;
  font-size: 24px;
}

.card__button--call-to-action:hover {
  background: linear-gradient(90deg, rgb(6, 181, 224) 0%, rgb(0, 65, 119) 100%);
  color: #eee;
}

.card__button--call-to-action:active {
  box-shadow: inset 2px 2px 10px #000;
}

.content__missions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__container--missions ul {
  list-style-type: none;
  margin-bottom: -35px;
  margin-left: 25px;
}

.content__mission {
  display: block;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 70px; */
  margin: 0 0 70px 20px;
}

.content__mission-image {
  width: 60px;
  margin-right: 30px;
  fill: #ccc;
}

.challenge-patch {
  width: 200px;
  flex-shrink: 0;
  margin: auto;
  margin-bottom: 30px;
}

.content__container-text--challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.organizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizer {
  margin: 10px;
}

.organizer h3 {
  font-size: 24px;
}

.head-shot {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: orange;
  margin: 10px auto;
}

.organizer-text {
  margin: 10px auto;
  text-align: center;
}

.footer {
  height: 400px;
  background: #111;
  color: #d3d3d3;
}

.register-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header__container--register {
  display: block;
  padding-top: 50px;
  text-align: center;
  text-shadow: 0 .2rem 2rem black;
  height: fit-content;
  min-height: auto;
}

.header__container-text--register {
  margin: 50px auto;
}

.header__container-text--register a {
  text-decoration: none;
  color: inherit;
}

.header--register h1 {
  margin: 15px;
}

.register-content-container {
  flex: 1;
  padding-bottom: 0;
}

.register-content {
  padding-bottom: 100px;
}

.register-content form {
  max-width: 500px;
  margin: 30px auto;
}

.register-content input {
  width: 100%;
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid #a3a3a3;
  font-size: 16px;
  background: transparent;
}

.register-content--touched:invalid {
  border-bottom: 2px dashed red;
}

.register-content input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.register-content label {
  margin-top: 20px;
  display: block;
}

.register-location-line {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-city {
  width: 50%;
  margin-right: 5px;
}

.register-state {
  width: 10%;
  margin: auto 5px;
}

.register-zip {
  width: 40%;
  margin-left: 5px;
}

.register-content button {
  margin: 100px auto 30px;
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  text-shadow: 0px 0px 0px grey;
  transition: text-shadow 150ms ease-in,
    color 300ms ease-in,
    box-shadow 200ms ease-in;
}

.register-content button:hover {
  background: linear-gradient(90deg, rgba(0, 81, 134, 1) 0%, rgb(39, 0, 83) 100%);
  color: white;
  text-shadow: 2px 2px 10px grey;
  box-shadow: 2px 2px 15px grey;
  transition: color 150ms ease-in;
}

.register-content button:active {
  box-shadow: 0 0 5px grey;
}

.register-content button:focus {
  outline: none;
  background: linear-gradient(90deg, rgba(0, 81, 134, 1) 0%, rgb(39, 0, 83) 100%);
  color: white;
  text-shadow: 2px 2px 10px grey;
  box-shadow: 2px 2px 15px grey;
  transition: box-shadow 150ms ease-out,
  color 150ms ease-in;
}

.register-card {
  padding-bottom: 3px;
  border-bottom: 1px solid #a3a3a3;
}

.register-card--focus {
  border-bottom: 1px solid black;
}

.register-card--invalid {
  border-bottom: 2px dashed red;
}

.register--footer {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  /* .header__logo {
    margin-top: 200px;
  } */

  .navbar {
    height: 70px;
    padding-bottom: 0;
    height: 70px;
    background-color: rgba(10, 10, 10, 0);
    transition: background-color .3s ease-out;
  }

  .navbar--scroll,
  .navbar--solid {
    background-color: rgba(10, 10, 10, 1);
  }


  .nav__list {
    display: flex;
    justify-content: space-between;
    /* margin-right: 30px; */
    flex-direction: row;
    padding: 15px;
  }

  .nav__list--register {
    justify-content: start;
  }

  .nav__list-item {
    margin: 0;
  }

  .nav__nav-item {
    margin-left: 10px;
  }

  .nav__list-item:last-child {
    margin-left: auto;
  }

  .nav__list-item--register:last-child {
    margin: 0;
  }

  .menu-button {
    display: none;
  }

  .header__button--call-to-action {
   display: none;
  }
/* 
  .header {
    padding-top: 120px;
  } */

  .header__container-text {
    margin-top: 20vh;
  }

  .header__container-text--register {
    margin: 50px auto;
  }

  .header__logo {
    margin-bottom: 35vh;
  }
  .card--map {
    width: auto;
  }

  .content__container--missions ul,
  .organizer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content__container-text--challenge {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .challenge-patch {
    margin: 0 30px 0 0;  
  }

  .register-header {
    padding-top: 70px;
  }
}

@media screen and (min-width: 991px) {
  .header {
    font-size: 32px;
  }
  
 .header--register {
   font-size: 24px;
 }

  .header h1 {
    font-size: 64px;
  }

  .header--register h1 {
    font-size: 2em;
  }

  .header__logo {
    width: 150px;
  }

  .nav__nav-item {
    margin-left: 30px;
  }

  .nav__list--register {
    justify-content: start;
  }

  .main-content__container,
  .content__container--where,
  .content__container--missions,
  .content__container--challenge,
  .organizer-container,
  .register-content {
    width: 70%;
  }

  .main-content__container
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }    

  .content__container-text--main,
  .content__container-text--where {
    width: auto;
  }

  .content__container-text--main {
    padding-right: 45px;
  }

  /* .content__container-text--where {
    padding-left: 30px;
  } */

  /* .nav__nav-item {
    margin-left: 50px;
  } */
  
  .card--price {
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
  }

  .card--price {
    flex-basis: 300px;
  }

  /* .card--map {
    margin-top: 0;
    width: 60%;
  } */

  .content__container--missions ul {
    margin-left: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__mission {
    margin-right: 35px;
  }
}