@import url('https://fonts.googleapis.com/css?family=Orbitron:bold');

body {
    background: black;
    position: relative;
    box-sizing: border-box;
}

nav {
    box-shadow: 0 0 2rem .3rem black;
}

nav a {
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Orbitron';
    font-weight: bold;
    text-shadow: 0 .2rem 2rem black;
}

.jumbotron-fluid p {
    text-shadow: .2rem .2rem 1rem black, -.2rem -.2rem 1rem black;
    font-size: 1.5rem;
}

.logo-sm {
    height: 5rem;
    filter: drop-shadow(0 0 1rem black);
}

.logo-md {
    height: 15rem;
    filter: drop-shadow(0 0 1rem black);
}

.jumbotron-fluid {
    margin-top: 0;
    padding-top: 5rem;
    background: radial-gradient(rgba(0,0,0,.3), rgba(0, 0, 0, 1)),
        linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.7)),
        no-repeat center/cover url("../images/Q2bpBSFCc9U.jpg");
}

.content-container {
    padding-bottom: 2rem;
    min-height: 500px;
}

.container-fluid .content-container:nth-child(odd) {
    background: #eee;
    color: #333;
}

.container-fluid .content-container:nth-child(even) {
    background: #222;
    color: #eee;
}

.content {
    width: 90%;
    padding-top: 1.5rem
}

.content p {
    font-size: 1.5rem;
}

footer {
    height: 400px;
    background: #151515;
}



#days-remaining {
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

@media only screen and (min-width: 991px){
    .jumbotron-fluid p {
        font-size: 1rem;
    }

    nav ul li {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    nav ul li:first-child {
        margin-left: 0;
    }

    nav a {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }

    .content {
        width: 65%;
    }

    .content p {
        font-size: 1rem;
    }

    #days-remaining {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}

